<h1>Checkout</h1>
<fieldset>
<legend>Please enter all your details</legend>
<%= form_for :order, :url => { :action => :save_order } do |form| %>
  <p>
    <label for="order_name">Name:</label>
    <%= form.text_field :name, :size => 40 %>
  </p>
  <p>
    <label for="order_address">Address:</label>
    <%= form.text_area :address, :rows => 3, :cols => 40 %>
  </p>
  <p>
    <label for="order_email">Email:</label>
    <%= form.text_field :email, :size => 40 %>
  </p>
  <%= submit_tag "Place Order", :class => "submit" %>
<% end %>
