<% if current_user.role == 'Admin' %>
<li role="presentation">
  <%= link_to('Products', "/products") %>
</li>

<li role="presentation">
  <%= link_to('Orders', "/orders") %>
</li>

<li role="presentation">
  <%= link_to('Users', "/users/index") %>
</li>
<% end %>


<% if user_signed_in? %>
  <li role="presentation">
    <%= link_to('Logout', destroy_user_session_path) %>
  </li>
<% end %>


<% if user_signed_in? %>
  <li role="presentation">
    <%= link_to('Edit account', edit_user_registration_path) %>
  </li>
<% end %>
