<%= form_for @order do |form| %>
  <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %> prohibited this product from being saved:</h2>
	<ul>
          <% @order.errors.full_messages.each do |msg| %>
	  <li><%= msg %></li>
	  <% end %>
	</ul>
      </div>
  <% end %>
<div width='50%' style="position: align-left;">
    <label for="order_name">Name:</label>
    <%= form.text_field :name, :size => 40 %>
    <br>
    <label for="order_address">Address:</label>
    <%= form.text_field :address, :size => 40 %>
    <br>
    <label for="order_address2">Address Line2:</label>
    <%= form.text_field :address2, :size => 40 %>
    <br>
    <label for="order_city">City:</label>
    <%= form.text_field :city, :size => 40 %>
</div>
<div width='50%' style="position: align-left;">
    <label for="order_state">State:</label>
    <%= form.text_field :state, :size => 40 %>
    <br>
    <label for="order_zipcode">Zipcode:</label>
    <%= form.text_field :zipcode, :size => 40 %>
    <br>
    <label for="order_country">Country:</label>
    <%= form.text_field :country, :size => 40 %>
    <br>
    <label for="order_email">Email:</label>
    <%= form.text_field :email, :size => 40 %>
    <br>
  <%= submit_tag "Update", :class => "submit" %>
</div>
<% end %>
