<h1>Orders</h1>
<p> Click Rows for more detailed information. </p>
<% @orders.each do |order| %>
<div class="name" style="border: 1px solid black;">
  <table width='100%' border='1px solid black'>
  <th width='30%'>Name:</th>
  <th width='50%'>Address:</th>
  <th width='20%'>Email:</th>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.email %></td>
 </tr> 
 </table>
  <div class="items" style="display: none;">
  <table width='100%' border='1px solid black'>
  <th width='30%'>Product</th>
  <th width='50%'>Quantity</th>
  <th width='20%'>Total Price</th>
  <% order.line_items.each do |li| %>
  <tr>
    <td><%= li.title %></td>
    <td><%= li.quantity %></td>
    <td><%= li.total_price %></td>
  </tr>
  <% end %>
  </table>
  </div>
</div>
<br>
<% end %>
  <script>
    $('div.name').click(function(){
      if($(this).children('div.items').is(":hidden")){
        $(this).children('div.items').slideDown("slow");
      }
      else{
	$(this).children('div.items').hide();
      }
    });
  </script>
