



<h1>Orders</h1>
<p> Click info icon for more detailed information. </p>
<div style="border: 1px solid black;">
  <table id='orderTable' width='100%' border='1px solid black'>
  <thead>
    <th>Info</th>
    <th>Name</th>
    <th>City</th>
    <th>State</th>
    <th>Email</th>
    <th>Shipped</th>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
  <tr>
    <td>
      <a class='sName'><%= image_tag("infoIcon.jpg", :width => 25, :height => 25) %></a>
      <div style="display: none;">
      <div class='panelDiv' class='hData'>
        <%= link_to order.email, order %><br>
	<br>
        <%= order.name %><br>
        <%= order.address %><br>
        <% if order.address2 %>
	  <%= order.address2 %>
	<% end %>
        <%= order.city %>, <%= order.state %> <%= order.zipcode %><br>
        <%= order.country %>

        <br>

        <table border='1px solid black' width='100%'>
        <th>Photo:</th>
        <th>Product:</th>
        <th>Quantity:</th>
        <th>Price:</th>
        <% order.line_items.each do |li| %>
        <tr>
          <td><img src='<%= li.photo %>' width='25px' height='25px' /></td>
          <td><%= li.title %></td>
          <td><%= li.quantity %></td>
          <td><%= li.total_price %></td>
        </tr>
        <% end %>
        </table>

	  <div style="left: 50px; position: absolute;">
            <b>Ship Order</b>
            <%= link_to image_tag("ship.png", :width => 50, :height => 50), "/orders/"+order.id+"/ship", data: { confirm: 'Are you sure?' } %>
	  </div>

	  <div style="right: 50px; position: absolute;">
	    <%= link_to image_tag("deleteIcon.png", :width => 50, :height => 50), "/orders/"+order.id+"/destroy", method: :delete, data: { confirm: 'Are you sure?' } %>
	    <b>Delete Order</b>
	  </div>

      </div>
      </div>
    </td>
    <td>
      <%= link_to order.name, order %>
    </td>
    <td><%= order.city %></td>
    <td><%= order.state %></td>
    <td><%= order.email %></td>
    <td align="center">
      <% if order.shipped %>
        <%= image_tag("shippedIcon.png", :width => 25, :height => 25, :alt => 1) %><div style="display: none;">1</div>
      <% else %>
        <%= image_tag("notShippedIcon.png", :width => 25, :height => 25, :alt => 2) %><div style="display: none;">2</div>
      <% end %>
    </td>
  </tr> 
  <% end %>
 </tbody>
 </table>
</div>
<br>
  <script>
$(document).ready(function(){
	$('#orderTable').dataTable({
	  "bJQueryUI": true,
	  "bRetrieve" : true,
	  "bStateSave": true,
	  "sPaginationType": "full_numbers",
	  "aaSorting" : [[ 4, "desc" ]],
	  "auColumns" : [
	    null,
	    null,
	    null,
	    null,
	    null,
	    null,
	    { "sType": "html" } 
	  ]
	});
});


    $(".sName").click(function(){
      $("#popupPanel").fadeIn("slow");
      var div$ = $("#popupPanel");
      var html = $('<div>').append($(this).next().children().clone()).html();
      div$.empty();
      div$.append(html);
      div$.get(0);
      //var h = $( window ).height();
      //var w = $( window ).width();
      //$( "#popupPanel" ).css( "width", w/4);
      //$( "#popupPanel" ).css( "height", h );}
    });
   // $(".sName").click({function() {
  //  });

    $('.datatable').dataTable({
      "sDom": "<'row-fluid'<'span6'l><'span6'f>r>t<'row-fluid'<'span6'i><'span6'p>>",
      "sPaginationType": "bootstrap"
    });

    
  $("#popupPanel").click(function(){
    $("#popupPanel").fadeOut("slow");
  });

  </script>
