<table border='1px'>
  <th>Quantity</th>
  <th>Product</th>
  <th>Price</th>
<% @items.each do |item| %>
<tr>
  <td><%= item.quantity %></td>
  <td><%= h(item.title) %></td>
  <td><%= number_to_currency(item.price) %></td>
</tr>
<% end %>

  <tr>
    <td colspan="2">Total</td>
    <td><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>
<%= button_to "Checkout", :method => "/checkout/index" %>
<%= button_to "Empty Cart", :action => :empty_cart %>

