<!DOCTYPE html>
<html>
<head>
  <title>{out}the{box}</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <!-- Always put jquery before bootstrap reference to avoid hair pulling -->
  <%= javascript_include_tag "jquery-2.1.3" %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag :defaults %>

  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script type="text/javascript" src="dataTables.numericComma.js"></script>
  <script type="text/javascript">
         $(document).ready(function(){
        $('.dropdown-toggle').dropdown()
    });
  </script>
  <script type="text/javascript">
    // this identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_NH9lqc3lW9dqcCd37Gd0yrTM');
    function stripeResponseHandler(status, response) {
      if(response.error){
        //show the errors on the form
	$(".payment-errors").html(response.error.message);
	$(".submit-button").removeAttr("disabled");
      }
      else {
        var form$ = $("#payment-form");
	// token contains id, last4, and card type
	var token = response['id'];
	// insert the token into the form so it gets submitted to the server
	form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />");
	form$.get(0).submit();
      }
    }

    $(document).ready(function() {
      $("#payment-form").submit(function(event){
        //disable the submit button to prevent repeated clicks
        $('.submit-button').attr("disabled", "disabled");

        Stripe.createToken({
          number: $('.card-number').val(),
	  cvc: $('.card-cvc').val(),
	  exp_month: $('.card-expiry-month').val(),
	  exp_year: $('.card-expiry-year').val()
        }, stripeResponseHandler);

        // prevent the form from submitting with the default action
        return false;
      });
  });
  </script>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class='payment-errors'>
  </div>
  <div class="container">
    <div>
      <%= notice %>
      <%= alert %>
    </div>
    <div class="jumbotron">
    <div id="popupPanel">
    </div>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
