<!DOCTYPE html>
<html>
<head>
  <title>Dirt Shirts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script type="text/javascript">
    fucntion stripeResponseHandler(status, response) {
      if(response.error){
        //show the errors on the form
	$(".payment-errors").text(response.error.message);
	$(".submit-button").removeAttr("disabled");
      }
      else{
        var form$ = $("#payment-form");
	// token contains id, last4, and card type
	var token = response['id'];
	// insert the token into the form so it gets submitted to the server
	form$.append("<input type='hidden' name='stripeToken' value='" + token + "' />")
	form$.get(0).submit();
      }
    // this identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_NH9lqc3lW9dqcCd37Gd0yrTM');
    $(document).ready(function(event) {
      $("#payment-form").submit(function(event){
      //disable the submit button to prevent repeated clicks
      $('.submit-button').attr("disabled", "disabled");

      Stripe.createToken({
        number: $('.card-number').val(),
	cvc: $('.card-cvc').val(),
	exp_month: $('.card-expiry-month').val(),
	exp_year: $('.card-expiry-year').val()
      }, stripeResponseHandler);

      // prevent the form from submitting with the default action
      return false;
    });
  });
  </script>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <div>
      <%= notice %>
      <%= alert %>
    </div>
    <div class="center hero-unit">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
